.star-rating {
  display: inline-flex;
  align-items: center;
  /* font-size: 20px; */
  color: #f8c145;
}

.star {
  margin-right: 2px;
}

.star.full {
  color: #f8c145;
}

.star.half {
  color: #f8c145;
}

.star.empty {
  color: #6a6a6a;
}

.rating-count {
  font-size: 14px;
  color: #333;
  margin-left: 8px;
}
